# Project: a study of the reliability of borrowers.

Project description:
The customer is the credit department of the bank. It is necessary to understand whether the marital status and the number of children of the client affect the fact of repayment of the loan on time. Input data from the bank — statistics on the solvency of customers.
The results of the study will be taken into account when building a credit scoring model — a special system that evaluates the ability of a potential borrower to repay a loan to a bank.

**The main goal of the project:** find the factors that affect the repayment of bank loans on time. During the implementation of the project, it is necessary to find out whether such factors as: marital status, number of children, income level have an impact on the repayment of the loan.

**Project structure:**
    
1. Data overview
2. Filling in the gaps
3. Checking data for anomalies and correcting them
4. Formation of additional dictionary dataframes, decomposition of the original dataframe
5. Income categorization
6. Categorization of loan objectives
7. Conclusions. Answers to questions

**Data description**

children — the number of children in the family

days_employed — total work experience in days

dob_years — client's age in years

education — the level of education of the client

education_id — identifier of the level of education

family_status — marital status

family_status_id — id of marital status

gender — the gender of the client

income_type — type of employment

debt — whether there was a debt on repayment of loans

total_income — monthly income

purpose — the purpose of obtaining a loan

### 1. Data overview

In [1]:
# loading libraries
#
# working with tables and tabular data
import pandas as pd

# getting the name of the file
import os

In [2]:
# loading the database from the server or PC
# attempt_1 - path and name of the file to download from the server
# attempt_2 - path and name of the file to download from the PC

attempt_1 ='https://code.s3.yandex.net/datasets/data.csv'
attempt_2 ='C://yandex_data_sets/01_data.csv'

# take the file name from the specified path
name_os_data = os.path.basename(attempt_1)
print('File name:',name_os_data)

# handling loading errors
try:
    df = pd.read_csv(attempt_1)
    print(name_os_data, 'has been downloaded from the server')
except:
    print('Server error')
try:
    df = pd.read_csv(attempt_2)
    print(name_os_data, 'has been downloaded from local host')
except:
    print('Local Error')

File name: data.csv
data.csv has been downloaded from the server
data.csv has been downloaded from local host

In [3]:
# output the title
display(df.head(3))

 # general information about the table
df.info()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

From the general information, it can be seen that in the columns days_employed (work experience) and total_income (total income) there are rows with missing data.
It is immediately clear that the values in the days_employed line are incorrect:
- firstly, there are negative values.
- secondly, the value in line 4 is 340266. Based on the description of the data, this is the total work experience in days, which means that the work experience of 932 years is indicated here, which cannot correspond to reality.

### 2.1 Fill in the undefined values

In [4]:
# to get acquainted with the data, we will output columns with rows Nan
display(df[df['total_income'].isna()].head(3))

# let's count the number of passes in total_income
print('Number of passes in total_income', len(df[df['total_income'].isna()]))

# let's count the number of passes in days_employed
print('Number of passes in days_employed', len(df[df['days_employed'].isna()]))

# let's calculate the ratio of missing data to the total number of rows
days_empty = len(df[df['days_employed'].isna()])
print(f'The ratio of missing data to the total number of rows {(days_empty / df.shape[0]):.2%}')

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости

Number of passes in total_income 2174
Number of passes in days_employed 2174
The ratio of missing data to the total number of rows 10.10%

### 2.2 conclusions on missing data

From the given data it can be seen:
- in the columns days_employed and total_income there are rows with missing data.
- rows with missing data make up 10%.
- since the missing values occur in two columns at the same time, it can be assumed that these data were not intentionally specified, and all other data are specified correctly.
- during further data processing, you can delete rows with missing data or fill them with median values. If we simply delete the data, then we may lose information about 10% of users, which can significantly affect the results of the study, in this situation it is better to fill in the gaps with medinal values. At the same time, considering that the data days_employed (work experience) have rows with incorrect data and at the same time greatly overestimated, taking an average statistical indicator would be the wrong decision, because incorrect data will greatly shift the average indicator in a big way.

Fill in the empty values for total_income (monthly income).
Data days_employed (work experience) will be filled in later.

In [5]:
# calculation of the median value for for total_income — monthly income
median_total_income = df['total_income'].median()
print('Median value for total_income (monthly income)', median_total_income)

# replacing the nan value with 'mediant_total_income'
df['total_income'] = df['total_income'].fillna(value=median_total_income)

Median value for total_income (monthly income) 145017.93753253992

### 3. Checking data for anomalies and correcting them.

Due to the fact that incorrect work experience was found in line 4, to check the rest of the days_employed data for too large values, we take the conditional value of 85 years - the average maximum life expectancy in Japan. Let's add the age of entry into work of 18 years, we get, the life expectancy at such an indicator should be 103 years, we can assume that such data should not be more than 1 %

In [6]:
# let's count the number of negative values of days_employed - work experience
days_negative = len(df[df['days_employed'] < 0])
print('Lines with negative work experience', days_negative)

# let's calculate the ratio of negative values of days_employed (work experience) to the total number of rows
# divide the number of rows with a negative value by the total number of rows
print(f'The ratio of negative values of days_employed (work experience) to the total number of rows {(days_negative / df.shape[0]):.2%}')

# let's count the number of values of dob_years - the age of the client is equal to 0
dob_negative =  len(df[df['dob_years'] == 0]) #max(df['dob_years'])
print('The number of rows with the clients age equal to zero', dob_negative)

# calculate the ratio of negative values of dob_years (client's age) to the total number of rows
# divide the number of rows with a negative age of the client by the total number of rows
print(f'The ratio of rows equal to zero dob_years (clients age) to the total number of rows {(dob_negative / df.shape[0]):.2%}')

# let's count the number of negative values of children - the number of children
children_negative = len(df[df['children'] < 0])
print('Rows with negative number of children', children_negative)

# calculate the ratio of negative values of children (number of children) to the total number of rows
# divide the number of rows with a negative number of children by the total number of rows
print(f'The ratio of negative values of children (number of children) to the total number of rows {(children_negative / df.shape[0]):.2%}')

# let's count the number of lines with more than 85 years of work experience
print ('Lines with more than 85 years of work experience', len(df[df['days_employed'] > 340025])) # 85 лет * 365 дней = 340025 дней

# let's calculate the ratio of values greater than 85 years to the total number of rows
days_too_big = len(df[df['days_employed'] > 340025])
print(f'The ratio of values greater than 85 years to the total number of rows {(days_too_big / df.shape[0]):.2%}')

Lines with negative work experience 15906
The ratio of negative values of days_employed (work experience) to the total number of rows 73.90%
The number of rows with the clients age equal to zero 101
The ratio of rows equal to zero dob_years (clients age) to the total number of rows 0.47%
Rows with negative number of children 47
The ratio of negative values of children (number of children) to the total number of rows 0.22%
Lines with more than 85 years of work experience 2908
The ratio of values greater than 85 years to the total number of rows 13.51%

### Conclusions:

- At this stage of the study, it is necessary to seek clarification in the data, because more than 73% of data with negative values, more than 13% of rows with incorrect values, more than 10% of rows with missing values
- Data with the age of the client 0 in this work will have to be neglected, because 0.47% of such data, it can be assumed that this is incorrect data entry, or situations when the client refused to call his age.
- It can be assumed that the data was entered incorrectly or an incorrect format was used, however, based on the fact that the task condition says that the data may have negative values, we will continue to conduct research.

For further calculations, replace the negative values in the columns seniority and children (days_employed, children). Before clarifying the data, we will proceed from the assumption that there is an error in the source data.

In [7]:
# let's replace negative values days_employed
df['days_employed'] = abs(df['days_employed'])

# let's replace negative values children
df['children'] = abs(df['children'])

# check the number of negative values days_employed
print('Number of lines with negative seniority after adjustment', len(df[df['days_employed'] < 0]))

# check the number of negative values children
print('Number of rows with negative "children" after adjustment', len(df[df['days_employed'] < 0]))

Number of lines with negative seniority after adjustment 0
Number of rows with negative "children" after adjustment 0

### 3.1.Changing data types.

In [8]:
# calculation of the median value for days_employed
median_days_employed = df['days_employed'].median()
print('Median value for days employed', median_days_employed)
print()

# replace the nan values with 'median_days_employed'
df['days_employed'] = df['days_employed'].fillna(value=median_days_employed)

#  check the days_employed and total_income columns for empty values     
df.info()

Median value for days employed 2194.220566878695

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [9]:
# change the real data type for total_income - monthly income, to integer
# using the astype() method

df['total_income'] = df['total_income'].astype('int')

# check total_income datatype after adjustment
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int32
 11  purpose           21525 non-null  object
dtypes: float64(1), int32(1), int64(5), object(5)
memory usage: 1.9+ MB

### 3.2. Removing duplicates.

Before removing duplicates, we will convert all data to lowercase.

In [10]:
# before removing duplicates, we convert the data to lower case
# use method str.lower() 
df['education'] = df['education'].str.lower()
df['family_status'] = df['family_status'].str.lower()
df['gender'] = df['gender'].str.lower()
df['income_type'] = df['income_type'].str.lower()
df['purpose'] = df['purpose'].str.lower()

# checking table sizes before removing duplicates
print('Table size before removing duplicates', df.shape)

# removing duplicates and updating indexes
df = df.drop_duplicates().reset_index(drop=True)

# checking table sizes after removing duplicates
print('Table size after removing duplicates', df.shape)

Table size before removing duplicates (21525, 12)
Table size after removing duplicates (21454, 12)

71 apparent duplicates were removed as duplicates, which is 0.3% It can be assumed that these data were duplicated as a result of technical errors.

Let's display a unique list of loan purposes. To do this, we will use the groupby () and count () methods. Their use in this case is preferable to the value_counts () method. the list will be formed grouped by the name of the purpose of the loan.

In [11]:
# for output, you can also use the count () method:
# purpose_unic = df['purpose'].value_counts()
# print(purpose_unic)

# display a list of unique values using the groupby() and count() methods:
purpose_unic = df.groupby('purpose')['purpose'].count()
print(purpose_unic)

purpose
автомобили                                478
автомобиль                                494
высшее образование                        452
дополнительное образование                460
жилье                                     646
заняться высшим образованием              496
заняться образованием                     408
на покупку автомобиля                     471
на покупку подержанного автомобиля        478
на покупку своего автомобиля              505
на проведение свадьбы                     768
недвижимость                              633
образование                               447
операции с жильем                         652
операции с коммерческой недвижимостью     650
операции с недвижимостью                  675
операции со своей недвижимостью           627
покупка жилой недвижимости                606
покупка жилья                             646
покупка жилья для сдачи                   651
покупка жилья для семьи                   638
покупка коммерческой недвижимости         661
покупка недвижимости                      621
покупка своего жилья                      620
получение высшего образования             426
получение дополнительного образования     446
получение образования                     442
приобретение автомобиля                   461
профильное образование                    436
ремонт жилью                              607
свадьба                                   791
свой автомобиль                           478
сделка с автомобилем                      455
сделка с подержанным автомобилем          486
строительство жилой недвижимости          624
строительство недвижимости                619
строительство собственной недвижимости    635
сыграть свадьбу                           765
Name: purpose, dtype: int64

From the above list, it is immediately clear that the goals of the loan too often duplicate each other, this is a reason to pay attention to the input of the initial data by the manager or operator.

### 4. Formation of additional dataframes of dictionaries, decomposition of the original dataframe.

In [12]:
# create two new dataframes with columns to unify education and family_status

# df_education = education_id and education are in the first dataframe;
# df_family_status = family_status_id and family_status are in the second dataframe.

df_education = df[['education_id', 'education']]
df_education = df_education['education'].drop_duplicates().reset_index(drop=True)

df_family_status = df[['family_status_id', 'family_status']]
df_family_status = df_family_status['family_status'].drop_duplicates().reset_index(drop=True)

# display headers for checking
display(df_education.head())
display(df_family_status.head())

# remove the education and family_status columns from the original dataframe
# df = df.drop(['education', 'family_status'], axis = 1)

# display header for verification
display(df.head())

0                 высшее
1                среднее
2    неоконченное высшее
3              начальное
4         ученая степень
Name: education, dtype: object

0          женат / замужем
1         гражданский брак
2           вдовец / вдова
3                в разводе
4    не женат / не замужем
Name: family_status, dtype: object

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля
2,0,5623.422610,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,m,сотрудник,0,267628,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,f,пенсионер,0,158616,сыграть свадьбу

### 5. Income categorization.

In [13]:
# create a function income_group that will take a new value based on the input
# new value - group, incoming data - income

def income_group(income_index):
    
    if income_index < 30001:
        return 'E'
    if income_index >= 30001 and income_index < 50000:
        return 'D'
    if income_index >= 50001 and income_index < 200000:
        return 'C'
    if income_index >= 200001 and income_index < 1000000:
        return 'B'
    return 'А' 

# create a new column in which we will place the result of the function
# function iterate over the value of the 'total_income' column
df['total_income_category'] = df['total_income'].apply(income_group)

# for verification, display the title of the modified table
display(df.head(3))
# to check, count the number of lines for each category of income
display(df['total_income_category'].value_counts())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,m,сотрудник,0,145885,покупка жилья,C

C    16016
B     5041
D      350
А       25
E       22
Name: total_income_category, dtype: int64

### 6. Categorization of loan purposes.

In [14]:
# create a new column, copy data from purpose and check its content
df['purpose_category'] = df['purpose']
display(df.head(2))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,f,сотрудник,0,253875,покупка жилья,B,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,f,сотрудник,0,112080,приобретение автомобиля,C,приобретение автомобиля

According to the terms of the assignment, we will create 4 groups "Purpose of the loan" based on the existing 32.
To do this, first manually sort the existing groups and divide them into 4 groups:
- 'car operations'
- 'real estate transactions'
- 'holding a wedding'
- 'getting an education'

Next, we will create a function that will go through the available data and based on manual selection and replace the names of the existing groups with new ones.

In [15]:
# a list of invalid values and a string with a value are passed to the function input
# the disadvantage of using this function in case of use is a large manual selection

def replace_wrong_purpose(wrong_values, correct_value):
# iterate over invalid names
    for wrong_value in wrong_values:
        # and for each incorrect name we call method the replace()                 
        df['purpose_category'] = df['purpose_category'].replace(wrong_value, correct_value)

# list of incorrect names 'car operations'
duplicates_avto = ['автомобили', 'автомобиль', 'на покупку автомобиля', 'на покупку подержанного автомобиля', 'на покупку своего автомобиля', 'приобретение автомобиля', 'свой автомобиль', 'сделка с автомобилем', 'сделка с подержанным автомобилем']                 
# correct name
name_avto = 'car operations'
# call method, replace()                                         
replace_wrong_purpose (duplicates_avto, name_avto)                 

# real estate transactions
duplicates_realty = ['операции с недвижимостью', 'операции со своей недвижимостью', 'недвижимость', 'жилье', 'операции с жильем', 'операции с коммерческой недвижимостью', 'покупка жилой недвижимости', 'покупка жилья', 'покупка жилья для сдачи', 'покупка жилья для семьи', 'покупка коммерческой недвижимости', 'покупка недвижимости', 'покупка своего жилья', 'ремонт жилью', 'строительство жилой недвижимости', 'строительство недвижимости', 'строительство собственной недвижимости']                 
name_realty = 'real estate transactions'
replace_wrong_purpose (duplicates_realty, name_realty) 

# holding a wedding
duplicates_marry = ['свадьба', 'сыграть свадьбу', 'на проведение свадьбы']                 
name_marry = 'holding a wedding'
replace_wrong_purpose (duplicates_marry, name_marry)

# getting an education
duplicates_education = ['получение образования', 'образование', 'высшее образование', 'получение высшего образования', 'получение дополнительного образования', 'дополнительное образование', 'заняться высшим образованием', 'заняться образованием', 'профильное образование']                 
name_education = 'getting an education'
replace_wrong_purpose (duplicates_education, name_education)

# check the data, group the data by a new category
display(df['purpose_category'].value_counts())

real estate transactions    10811
car operations               4306
getting an education         4013
holding a wedding            2324
Name: purpose_category, dtype: int64

Сonclusions on Data preprocessing:

- for the correct conduct of the study, it is necessary to seek clarification in the data, because more than 73% of data with negative values, more than 13% of rows with invalid values, more than 10% of rows with missing values. The data with client age 0 will be neglected in this work, because such data is 0.47%, it can be assumed that this is incorrect data entry, or situations when the client refused to indicate his age.
- after adjusting the initial data, the final values have changed, which can critically affect the final conclusions of the study.

### 7.Comclusions. Answers on questions.

##### Question 1: Is there a relationship between the number of children and loan repayment on time?

In [16]:
# find out the number of debtors
# group the data by the children column and sum the values by the debt column (its value is 0 or 1)
# set a variable for each value and put a new df there
children_debt = df.groupby('children')['debt'].sum()

# calculate the total number of debtors in each group
children_count = df.groupby('children')['children'].count()

# calculate the percentage of non-returns by dividing the number of non-returns
# by the total number of people and multiplying by 100
children_percent = ((df.groupby('children')['debt'].sum() / df.groupby('children')['children'].count()))*100
# print(children_debt, children_count, children_percent)

# create a new df
display(pd.concat([children_debt, children_count, children_percent], keys=['Debtor', 'Total', 'Percent'], axis=1))

          Debtor  Total    Percent
children
0           1063  14091   7.543822
1            445   4855   9.165808
2            194   2052   9.454191
3             27    330   8.181818
4              4     41   9.756098
5              0      9   0.000000
20             8     76  10.526316

##### Сonclusion 1:
The table above clearly shows that, in general, the number of debtors without children is much higher than the number of debtors with children, but this is due to the fact that the total number of loans issued to people without children is higher.
In general, it can be seen that the default rate for borrowers without children is 2% lower.
It should be noted that these data are reliable, because the results of the studies were not affected by the changes made to the data during the analysis.
It should be noted that there are incorrect data in the table - the number of children is -1, there are 47 such rows. less than 1% of these data, they were not taken into account, also the line with the number of children 20 most likely implies the number of children more than 5.

##### Question 2: Is there a relationship between marital status and loan repayment on time?

In [17]:
# replace data marital status from Russian to English
# using lambda function
df['family_status'] = df['family_status'].apply(lambda x: x.replace('женат / замужем', 'married').replace('гражданский брак', 'civil marriage').replace('вдовец / вдова', 'widower').replace('в разводе', 'divorced').replace('не женат / не замужем', 'not married'))

In [18]:
#0          женат / замужем - married
#1         гражданский брак - civil marriage
#2           вдовец / вдова - widower
#3                в разводе - divorced
#4    не женат / не замужем - not married

In [19]:
# family status
family_status = df.groupby('family_status')['family_status'].unique()

# calculate the number of debtors by the number of children
# group the data by the family_status column and sum the values by the debt column (its value is 0 or 1)
family_debt = df.groupby('family_status')['debt'].sum()

# family count
family_count = df.groupby('family_status')['family_status'].count()

# family percent
family_percent = ((family_debt / family_count)*100).round(2)

#display(family_status)
#display(family_debt)
#display(family_count)
#display(family_percent)

In [20]:
# create a new df
display(pd.concat([family_debt, family_count, family_percent], keys=['Debtor', 'Total', 'Percent %'], axis=1).reset_index())

    family_status  Debtor  Total  Percent %
0  civil marriage     388   4151       9.35
1        divorced      85   1195       7.11
2         married     931  12339       7.55
3     not married     274   2810       9.75
4         widower      63    959       6.57

##### Conclusion 2.
From the above table it is clearly seen that there is a slight correlation in the results: the lowest percentage of non-return for widowers, and the highest percentage of non-return for those who were not married.

It should be noted that these data are reliable, because no changes were made to these indicators in the original data.

##### Question 3: Is there a relationship between income and loan repayment on time?

In [21]:
# find out the number of debtors for each income group
# group the data by the family_status column and sum the values by the debt column (its value is 0 or 1)
income_debt = df.groupby('total_income_category')['debt'].sum()

# find out how many debtors are in each group
income_count = df.groupby('total_income_category')['total_income_category'].count()

# calculate the percentage of non-return by dividing the number
# of non-return by the total number of people and multiplying by 100
income_percent = ((df.groupby('total_income_category')['debt'].sum() / df.groupby('total_income_category')['total_income_category'].count()))*100
#print(income_debt, income_count, income_percent)

# create a pivot table with the received data
data = [['B: 200 000 - 1 000 000', 356, 5040, 7.06],
       ['С: 50 000 - 200 000', 1360, 16016, 8.49],
       ['D: 30 000 - 50 000', 21, 350, 6.00],
       ['E: from 0   - 30 000', 2, 22, 9.09],
        ['А: higher 1 000 000', 2, 26, 7.69]]
        
columns = ['Group','Number of debtors', 'Total person', '% of debtors']

research_income_result = pd.DataFrame(data=data,columns=columns)
display(research_income_result)

                    Group  Number of debtors  Total person  % of debtors
0  B: 200 000 - 1 000 000                356          5040          7.06
1     С: 50 000 - 200 000               1360         16016          8.49
2      D: 30 000 - 50 000                 21           350          6.00
3    E: from 0   - 30 000                  2            22          9.09
4     А: higher 1 000 000                  2            26          7.69

##### Conclusion 3.
For different income groups, it can be seen that the lowest percentage of non-return for group D: and the highest percentage for group E:

It should be noted that these data may not be reliable, because. before grouping, 10.10% were filled with medial values, which could significantly affect the result.

### Question 4: Is there a relationship between goal of the loan and loan repayment on time?

In [22]:
# find out the number of debtors for each group of loan purposes
# group the data by the purpose_category column and sum the values by the debt column (its value is 0 or 1)
purpose_debt = df.groupby('purpose_category')['debt'].sum()

# find out how many debtors are in each group
purpose_count = df.groupby('purpose_category')['purpose_category'].count()

# calculate the percentage of non-return by dividing the number 
# of non-return by the total number of people and multiplying by 100
purpose_percent = ((df.groupby('purpose_category')['debt'].sum() / df.groupby('purpose_category')['purpose_category'].count()).round(3))*100


#print(purpose_debt, purpose_count, purpose_percent)

display(pd.concat([purpose_debt, purpose_count, purpose_percent], keys=['Debt', 'Total', 'Percent %'], axis=1).reset_index())

           purpose_category  Debt  Total  Percent %
0            car operations   403   4306        9.4
1      getting an education   370   4013        9.2
2         holding a wedding   186   2324        8.0
3  real estate transactions   782  10811        7.2

### Conclusion 4.
There is a slight correlation by the purpose of the loan: the lowest % of debtors for real estate transactions, the highest % of debtors for car transactions.

It should be noted that these data are reliable, because no changes were made to the original data for the analysis.

## General conclusion.
Let's make a pivot table to justify the general conclusion.

From the data obtained as a result of the analysis, it can be concluded that there is indeed a relationship between the number of children, marital status, and the percentage of loan payments.
- Minimum arrears rate for widowers 6.56%
- The maximum arrears rate for creditors with more than 6 children is 10.52%
- The difference between the maximum and minimum percentage of debtors 3.96%

In [23]:
# create a pivot table with the received data
data = [['Min', '7.51 - no children', '6.56 - widower','7.06 - from 200k to 1mln', '7.23 - real estate'],
       ['Max', '10.52 - 20 children', '7.75 - not married', '9.09 - from 0 to 30k', '9.35 - car operations']]

columns = ['Mark of group', 'Count of children','Family status', 'Group of income', 'Goal of loan']

research_genres_result = pd.DataFrame(data=data,columns=columns)
display(research_genres_result)

,Mark of group,Count of children,Family status,Group of income,Goal of loan
0,Min,7.51 - no children,6.56 - widower,7.06 - from 200k to 1mln,7.23 - real estate
1,Max,10.52 - 20 children,7.75 - not married,9.09 - from 0 to 30k,9.35 - car operations

From the data obtained as a result of the analysis, the following conclusions can be drawn:
- the minimum percentage of non-repayment of 6.56 and 7.06 for widowers, as well as creditors with an income of 200 thousand to 1 million rubles.
- the maximum default rate is 10.52 and 9.35 for persons with 6 or more children, as well as the purpose of the loan is "Car Operations".
- the maximum spread in indicators of loan repayment is 3.96 percent.

The maximum variation in loan default was found to be 3.96% between different indicators.

The following data were not used in the analysis: work experience, age, education, gender, type of income.
Analysis carried out after clarification of the initial data, as well as using the above data, can reveal more significant patterns.